.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.containeruserprofile{
  border: 1px solid black;
  height:200px;
  width:650px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.userprofile{
  display:flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.image{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:35%;
}

.userimage{
  margin-left: 10px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.userdetails{
  display:flex;
  flex-direction: column;
  margin-left:40%;
  margin-top:-20px;
}

.username{
  font-size: 22px;
  font-weight:500;
  margin-top:25px;
}

.bio{
  margin-top:-20px;
}

.location{
  margin-top:-20px;
}

.social{
  margin-top:-20px;
}




.containeruserrepo{
  height:600px;
  display:flex;
  margin-top:50px;
}



.repos{
  border-top:1px solid red;
  width:150px;
  height:250px;
}